.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {  
  color: #3366FF;
}

@media (min-width: 500px) {

  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .NavigationItem a {
    color: black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #eee;
    border-bottom: 4px solid #FF33CC;
    color: black;
  }

  .NavigationItem a:hover {
    border-bottom: 4px solid #FFFF33;
}

}