.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
}

.Logo img {
  height: 100%;
}

.Span {
  font-size: 26px;
  margin-left: 10px;
  line-height: 1.0;
}